@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

section {}
section .rgb {}

section {
    position: relative;
    height: 100vh;
}
section .rgb {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}
#rgbKineticSlider canvas {
    position: absolute;
}

nav .main-nav {
    position: absolute;
    top: 50%;
}
nav .prev {
    left: 30%;
    font-size: 10px;
    text-align: center;
    color: #000;
    text-decoration: none;
    line-height: 20px;
    background-color: #ccc;
    width: 40px; height: 20px;
    border-radius: 40%;
}
nav .next {
    right: 30%;
    font-size: 10px;
    text-align: center;
    color: #000;
    text-decoration: none;
    line-height: 20px;
    background-color: #ccc;
    width: 40px; height: 20px;
    border-radius: 40%;
}
